
.flexRowContent--global__pdp--highlights {
    gap          : 8px;
    margin-bottom: 13px;
    display      : flex;
    width        : 200px;
    
}
/*.flexRowContent--global__pdp--highlights :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    padding: 0;
}*/

.flexRowContent--global__pdp--price {
    display: flex;
   
}
.flexRowContent--global__pdp--price :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width       : auto !important;
    margin-right: 1rem;
    
}

@media screen and (min-width: 1024px) {
    .flexRowContent--global__pdp--highlights {
        margin-top: 0;
    }
    .flexRowContent--global__pdp--highlights :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        padding: 0;
    }
    .flexRowContent--global__pdp--price :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        margin-right: 0;
    }
}

