:global(.vtex-slider-layout-0-x-paginationDot--isActive ~ .vtex-slider-layout-0-x-paginationDot::after) {
    width    : 44px;
    height   : 2px;
    content  : “ ”;
    font-size: 0;
    background-color:  #1D273466;
    position: absolute;
}

/*:global(.vtex-slider-layout-0-x-paginationDot--home__infocard--slide--isActive ~ .vtex-slider-layout-0-x-paginationDot--home__infocard--slide::after) {
    width: 44px;
    height: 2px;
    content: "";
    background-color: rgba(29, 39, 52, 0.4);
    position: absolute;
}*/