
.container :global(.vtex-login-2-x-label) {
  text-align    : center;
  color         : #ffffff;
  text-transform: none;
  display       : block;
  font-family   : Lexend;
  font-size     : 14px;
  font-weight   : 300;
  line-height   : 17.5px;
  text-align    : center;
}

.container :global(.vtex-button__label) {
  width           : 80px;
  height          : 40px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px;
  opacity         : 1;
  background-color: #1d2734;
  text-align      : center;
  display         : flex;

}

.arrowUp {
  display: none;
}

.content :global(.vtex-login-2-x-formFooter){
  display: none;
  border-top-style: none;
}
/*first screen Log in */



.contentContainer {
  margin-top   : 4rem;
  box-shadow   : 0px 4px 4px 0px #00000040;
  border-radius: 0px 0px 8px 8px;
}

.content {
  border-radius: 0px 0px 8px 8px;
  padding      : 20px;
  min-width    : 26.438rem;
  min-height   : 18.938rem;
}

.contentForm {
  min-width : 26.438rem;
  min-height: 18.938rem;
}

.formTitle {
  font-family: Lexend;
  font-size  : 20px;
  font-weight: 300;
  line-height: 22.92px;
  text-align : center;

}

.accessCodeOptionBtn :global(.vtex-button),
.emailPasswordOptionBtn :global(.vtex-button) {
  width           : 100%;
  max-height      : 48px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px solid #1d2734;
  background-color: #f5f4f6;
}

.googleOptionBtn :global(.vtex-button) {
  width           : 100%;
  max-height      : 48px;
  padding         : 10px;
  border-radius   : 40px;
  background-color: #ffffff;
  border          : 1px solid #aebace80;
}

.facebookOptionBtn :global(.vtex-button) {
  width           : 100%;
  max-height      : 48px;
  padding         : 10px;
  border-radius   : 40px;
  background-color: #1877f2;
  border          : 1px solid rgb(233, 233, 233);
}



.accessCodeOptionBtn :global(.vtex-button__label) {
  text-transform: math-auto;
  font-family   : Lexend;
  font-size     : 14px;
  font-weight   : 400;
  color         : #1d2734;
  text-align    : center;
  line-height   : 17.5px;
  top           : 6px;
}

.emailPasswordOptionBtn :global(.vtex-button__label) {
  text-transform: math-auto;
  font-family   : Lexend;
  font-size     : 14px;
  font-weight   : 400;
  color         : #1d2734;
  text-align    : center;
  line-height   : 17.5px;
  top           : 6px;
}

.googleOptionBtn :global(.vtex-button__label) {
  text-transform: math-auto;
  font-family   : Lexend;
  font-size     : 16px;
  font-weight   : 400;
  color         : #5E636E;
  line-height   : 20px;
  text-align    : center;
}

.portalContainer .googleOptionBtn :global(.vtex-button__label svg) {
  position: absolute;
  left    : 22px;
  height  : 26px;
  width   : 26px;

}

.facebookOptionBtn :global(.vtex-button__label) {
  text-transform: math-auto;
  font-family   : Lexend;
  font-size     : 16px;
  font-weight   : 400;
  color         : #FFFFFF;
  line-height   : 20px;
  text-align    : center;

}

.portalContainer .facebookOptionBtn :global(.vtex-button__label svg) {
  position: absolute;
  left    : 22px;
  height  : 26px;
  width   : 26px;

}

/*second screen code by email*/

.content :global(.vtex-login-2-x-emailForm) {
  font-size     : 0;
  display       : flex;
  flex-direction: column;
}

.content :global(.vtex-login-2-x-emailForm)::before {
  content    : "LOG IN";
  font-family: Lexend;
  font-size  : 20px;
  font-weight: 300;
  line-height: 22.92px;
  text-align : center;
  color      : #0C2340;
}

.content :global(.vtex-login-2-x-emailForm)::after {
  content    : "Continue with e-mail and password";
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 300;
  line-height: 20px;
  text-align : center;
  color      : #5E636E;
  padding-top: 2px;


}

.inputContainerEmail :global(.vtex-input-prefix__group),
.inputContainerPassword :global(.vtex-input-prefix__group) {
  width        : 100%;
  max-height   : 48px;
  padding      : 10px;
  border-radius: 40px;
  border       : 1px solid #1d2734;
}

.inputContainer :global(.vtex-styleguide-9-x-input) {
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align : left;

}

.formLinkContainer :global(.vtex-login-2-x-forgotPasswordLink) {
  visibility : hidden;
  font-family: Lexend;
  font-size  : 0;
  font-weight: 300;
  line-height: 20px;
  text-align : center;
  color      : #0C2340;

}

.formLinkContainer :global(.vtex-login-2-x-forgotPasswordLink)::before {
  visibility : visible;
  content    : "Forgot your password?";
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 300;
  line-height: 20px;
  text-align : center;
  color      : #0C2340;
  margin-right: 7px;


}

.formLinkContainer :global(.vtex-login-2-x-forgotPasswordLink)::after {
  visibility : visible;
  content    : "Reset password";
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 300;
  line-height: 20px;
  text-align : center;
  color      : #E56A54;

}

.formLinkContainer {
  justify-content: center;
}

/*
.formLinkContainer :global(.vtex-login-2-x-dontHaveAccount) {
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align : center;
  color      : #0C2340;

}
*/
.formLinkContainer :global(.vtex-login-2-x-dontHaveAccount) {
  content    : "Create an account";
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align : center;
  color      : #0C2340;
  margin-left: 40px;

}

.inputContainer :global(.vtex-login-2-x-eyeIcon--invisible) {
  display: none;
}



/*third screen reset my password */

.content--beginCreatePass .formTitle {
  font-size     : 0;
  display       : flex;
  flex-direction: column;
}

.content--beginCreatePass .formTitle::before {
  content  : "RECUPERAR CLAVE";
  font-size: 16px;
}

.content--beginCreatePass .formTitle::after {
  content  : "Receive access code by email";
  font-size: 16px;
}

/*quitar t small*/

.portalContainer .backButton :global(.t-small) {
  display: none;
}


.backButton{
  position: absolute;
  z-index: 10;
  top: 18;
}

.portalContainer .arrowBackIcon {
  width   : 26px;
  height  : 26px;
  color   : #1D2734;

}


.portalContainer .sendButton :global(.vtex-button__label){
  visibility: hidden;
  font-size: 0;
}

.portalContainer .sendButton :global(.vtex-button__label)::before {
  visibility      : visible;
  content         : "Login";
  color           : white;
  font-size: 12px;
  text-align: center;
  display: flex;
}
.portalContainer .sendButton :global(.t-small){
  display: none;
}
.portalContainer .sendButton :global(.vtex-button) {
  padding         : 18px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px;
  opacity         : 0px;
  width           : 100%;
  color           : white;
  background-color: #1d2734;
}

.sendButton{
  width: 100%;
  display: flex;
  justify-content: center;
}
/*fourth screen New password*/

/* fifth screen of my account*/

.accountOptions .accountOptionsSectionTitle {
  visibility: hidden;
  position  : relative;
}

.accountOptions .accountOptionsSectionTitle::before {
  visibility    : visible;
  font-family   : Lexend;
  font-size     : 20px;
  font-weight   : 300;
  line-height   : 22.92px;
  text-align    : center;
  content       : "MY ACCOUNT";
  color         : #0C2340;
  display       : flex;
  flex-direction: column;

}

.accountOptions .logoutButton {
  visibility: hidden;
  position  : relative;
}

.accountOptions .logoutButton::before {
  visibility : visible;
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align : center;
  content    : " Log out";
  color      : #E31616;
  margin-left: 173px;
}

.portalWrapper .login__botton--profile,
.portalWrapper .login__botton--addresses,
.portalWrapper .login__botton--orders,
.portalWrapper .login__botton--credit-cards,
.portalWrapper .login__botton--authentication {
  font-family  : Lexend;
  font-size    : 14px;
  font-weight  : 400;
  line-height  : 17.5px;
  text-align   : center;
  border       : 1px solid #1d2734;
  border-radius: 40px;
  padding      : 10px;
  margin-bottom: 8px;
  min-height   : 44px;
  color        : #1d2734;
}

.portalWrapper .login__botton--profile:hover,
.portalWrapper .login__botton--addresses:hover,
.portalWrapper .login__botton--orders:hover,
.portalWrapper .login__botton--credit-cards:hover,
.portalWrapper .login__botton--authentication:hover {
  font-family     : Lexend;
  font-size       : 14px;
  font-weight     : 400;
  line-height     : 17.5px;
  text-align      : center;
  background-color: #1d2734;
  color           : white;
}