
:global(.vtex-mega-menu-2-x-menuContainer h3::before){
    width: 20px;
    height: 20px;
    content: "";
    background: url(assets/img/icon-gg.svg) no-repeat center center / cover;
    display: inline-block;
    margin-right: 0.4rem;
   
   

}