    /* Estilos desktop y mobile  flex colheader options2 */

  
  .flexCol--desktop__header--col-bar-options2,
  .flexCol--mobile__header--col-bar-options2
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
  }
  
