.paragraph--desktop__header-text{
    font-size: 12px;
    
}

.container--desktop__header-text {
    display: inline-block; 
    white-space: nowrap; 
    margin-left: 0;
}

.paragraph--desktop__header-text:hover {
    text-decoration: underline;
    cursor: pointer; 
  }