.flexCol--desktop__header--bar{
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 50px;
    gap: 10px;
    flex-direction: row;
}

.flexCol--desktop__logo{
   padding-right: 10px;
   text-align: center;
        
    }

