.imageElement--global__home--image-main-card {
  border-radius: 10.33px, 10.33px, 0px, 0px;
  width: 100%;
}



@media screen and (min-width: 1024px) {
  .imageElement--global__home--image-main-card {
    border-radius: 10.71px, 10.71px, 0px, 0px;
  }
}