.listPrice {
    font-family: Lexend;
    font-size  : 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align : left;
  }
  /*.priceContainer {
    margin-right: 70px;
  }*/

  .listPrice--product-list-price{
    font-family: Lexend;
    font-size: 20px;
    font-weight: 600;
    line-height: 21.87px;
    text-align: left;


  }

  

   .savings{
    border-radius:#1D2734; ;
    background: #1D2734;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-family: Lexend;
    flex-wrap: nowrap; 
    align-content: center;
    width: 84px;
    
    

  }

  @media screen and (min-width: 1024px) {
    .savings{ 
    border-radius:#1D2734; ;
    background: #1D2734;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-family: Lexend;
    flex-wrap: nowrap; 
    align-content: center;
    margin-left: auto;
    width: 70.22px;
    

    }
    .listPrice--product-list-price {
      font-family: Lexend;
      font-size  : 14px;
      font-weight: 400;
      line-height: 16.8px;
      text-align : left; 
      min-height: 20px; 
      display: flex;
      align-items: center;
    }
    
     
    
    .listPrice--product-list-price:empty::before {
        content: " ";
        display: inline-block;
        width: 100%; 
    }
    
   
    .sellingPrice{
      font-family: Lexend;
      font-size: 24px;
      font-weight: 600;
      line-height: 28.8px;
      text-align: left;
     
    }
  }