.paragraph--titulo-pricipal {
    color:aqua
}

/*estilos desktop, phone and tablet - home button card*/
.link--desktop__home--button-card,
.link--phone__home--button-card,
.link--tablet__home--button-card{
    background-color: #1a202c; 
      color: #ffffff; 
      padding: 10px 20px;
      border: none;
      border-radius: 30px; 
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .link--desktop__home--button-cardd::after, 
    .link--phone__home--button-cardd::after, 
    .link--tablet__home--button-cardd::after {
      background-color: #2d3748; 
    }
    
    .link--desktop__home--button-card::after, 
    .link--phone__home--button-cardd::after, 
    .link--tablet__home--button-cardd::after {
      content: '→'; 
      margin-left: 10px;
      font-size: 20px;
    }