/*imagenens card*/

.imageElement--desktop__home--image-main-card {
  border-radius: 10.71px 10.71px 0px 0px;
  width: 324px;
  height: 186px;
}

.imageElement--mobile__home--image-main-card {
  width: 242px;
  height: 139px;
  gap: 6.45px;
  border-radius: 10.33px 10.33px 0px 0px;
}
