.wishlistIconContainer :global(.vtex-button){
    border-color: #1D2734;
    width: 33px;
    height: 24px;
    border-radius:  3.04px;
    justify-content: center;
    padding: 0px;
    margin-right: auto;

  }

  .wishlistIconContainer :global(.vtex-button__label){
    padding-left: 0px;
    padding-right: 0px;
    
  }
  
  
  /*.outline{
    background: none;
  }*/

  @media screen and (min-width: 1024px) {
    .wishlistIconContainer :global(.vtex-button){
      border-color: #1D2734;
      width: 44px;
      height: 32px;
      border-radius:  4px;
      justify-content: center;
      padding-left: 0px;
      padding-right: 0px;
      margin-right: auto;
    }
    .wishlistIconContainer :global(.vtex-button__label){
      padding-left: 0px;
      padding-right: 0px;
      align-self: flex-end;
      
    }

    
   .iconSize{
    width: 24px;
    height: 24px;
   }

  

}
  