.flexRow--global__main-shelf--container {
    max-width: 1092px;
    margin   : auto;
}

.flexRowContent--container-price_salving-wishlist-icon {
    height: 32px;

}

.sliderLeftArrow--global__slider-shelf {
    display: none;
}