.sliderArrows--global__slider-shelf {
    display: none;
}

.sliderLayoutContainer--global__slider-shelf {
    display    : flex;
    align-items: flex-start;
    padding    : 0px 40px 80px 40px;
}


@media screen and (min-width: 1024px) {
    .sliderArrows--global__slider-shelf {
        display: block;
    }

    .sliderLeftArrow--global__slider-shelf {
        margin-left: -16px;
        top        : calc(50% - 61.5px);

    }

    .sliderRightArrow--global__slider-shelf {
        margin-right: -16px;
        top         : calc(50% - 61.5px);
    }


}