.buttonText--custom-add-to-cart-button::before {
  content          : " ";
  display          : inline-block;
  width            : 16px;
  height           : 16px;
  background-image : url("assets/img/add_shopping_cart.svg");
  background-size  : contain;
  background-repeat: no-repeat;
  margin-right     : 8px;
  vertical-align   : middle;
}